.upper__profile{
    display: flex;
    flex-direction: column;
}
.upper__profile__avatar{
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.upper__profile__button{
    margin: 0 auto;
}
.upper__profile__about{
    margin: 0 auto;
    font-size: 1.5rem;;
}
.Main_container{
    position: fixed !important;
    display: flex;
    width: 85vw;
    height: 87vh;
    top: 12vh;
    bottom: 12%;
    left: 10%;
    right: 10%;
    padding: 40px;
    background-color: rgba(202, 200, 200, 0.3);
    position: absolute;
    border-radius: 10px;
}

.col-1{
    color: white;
    width: 50vw;
    background: #857EF2;
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0 4px 8px 0 rgba(16, 9, 49, 0.2), 0 6px 20px 0 rgba(16, 9, 49, 0.2);
    display: flex;
    flex-direction: column;
    padding: 15px 15px 0px 15px;
}

.col-2{
    position: relative;
    display: block;
    overflow-wrap: anywhere;
    flex-direction: column;
    width: 90vw;
    box-shadow: 0 4px 8px 0  rgba(16, 9, 49, 0.2), 0 6px 20px 0 rgba(16, 9, 49, 0.2);
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
    height: 100%;
    overflow-y: scroll;
   
} 

.col-3{
    background-image: url("https://cdn.s3waas.gov.in/s344c4c17332cace2124a1a836d9fc4b6f/uploads/bfi_thumb/2020051856-1024x460-opoxg7t8x91de4qi31dtsvuuo5rcf8fpx3bscqeeao.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    max-width: 20vw;
    box-shadow: 0 4px 8px 0  rgba(16, 9, 49, 0.2), 0 6px 20px 0 rgba(16, 9, 49, 0.2);
    
}


.col-1>p{
    padding: 0px 0px 10px 60px;
    font-family:'Padauk', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    text-shadow: 1px 1.5px 2px rgb(12, 3, 51);


}

.col-1>b{
    margin: -10px 0px 3px 105px;
    font-size: medium;
    font-family:'Padauk', sans-serif;
    color: rgb(99, 98, 98);
    
}

.content{
    font-size: 1.1rem;
    font-family:'Padauk', sans-serif;
    font-weight: 300;
    padding: 30px 20px 0px 20px;
}

.content>div{
    font-size: 1.3rem;
    color: rgb(116, 114, 114);
}

.content >p{
    font-family:'Padauk', sans-serif;
    padding-top: 10px;
}

.profile_content{
    font-family: 'Padauk', sans-serif;
    font-size: 1rem;
    line-height: 1.3rem;
    position: relative;
}

.label{
    color: white;
   font-weight: bold;  
}

.Gender{
   padding-right: 45px; 
}
.Social_icon{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0;
}

.Instagram_icon :hover{
    background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
}

.Facebook_icon:hover{
    background-color: #39569c;
}

.linkdin_icon:hover{
    background-color: #0e76a8;
}

.Twitter_icon:hover{
    background-color: #00acee;
}

.About_me{
    padding: 3px 0px 15px 0px;
    font-size: 1.1rem;
    font-family:'Padauk', sans-serif;
}

.Nav_box{
    position: sticky;
    top: 0;
    z-index: 10;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px 10px ;
    font-size: 1.2rem;
    font-weight: 550;
    font-family:'Padauk', sans-serif;
    background: #211B71;
    border-radius: 0px 20px 0px 0px;
    box-shadow: 0 6px 10px -6px rgb(39, 38, 38);
}
@media(max-width:640px){
  .Main_container{
    position: unset !important;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 10px;
  }
  .col-1{
    width: 100%;
  }
  .col-2{
    overflow-y: initial;
    height: initial;
    width: 100%;
  }
  .Nav_box{
    position: sticky;
    top: 0;
    z-index: 2;
  }
  .feed_container{
    position: initial;
    margin: unset;
    width: 100%;
    height: 95%;
  }
  .col-3{
    margin-top: 20px;
    margin-bottom: 70px;
    max-width: 100vw;
    height: 80%;
  }
}


