*{
  box-sizing: border-box;
}

.container{
  display: flex;
  border-radius: 5px;
  margin-left: 7.5vw;
  margin-top: 20px;
  height: 80vh;
  width:90vw;
  margin-bottom: 40px;
  background-image: url("https://t3.ftcdn.net/jpg/02/39/39/80/240_F_239398000_KYQOsvyjo9cIby7vCAjooMQTQ0qwsGT2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 70%;
  background-color: #bebebe;
  position: relative;
}

.container>img{
  z-index: 0;
  width: 200%;
}

.row_main {
display: flex;
clear: both;
width: 70%;
height: 75%;
margin-top: 10vh;
position: absolute;
top: 0;
left: 62%;
margin-left: -46%;
}

.column-1 {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 15px 10px 30px 30px; 
  position: relative;
  font-size: 20px;
  flex: 2;
}

.column-2{
  max-width: 500px;
  position: relative;
  background-color: #242aac;
  flex: 1;
  padding: 10px;
}

.column-2 > p{
  font-size: 22px;
  margin-bottom: 10%;
  padding: 10px 0px 0px 10px;
  color: rgb(221, 221, 221);
}

.input[type=text], select, textarea {
  width: fit-content;
  padding: 15px;
}

.col-50{
  display: flex;
  flex-direction: column;
  
}

.col-50 >input::placeholder{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.col-50 >div>.F_Name{
  min-width: 220px;
  margin-right: 40px;
  background: transparent;
}

.col-50 >div> .Em_address{
  min-width: 220px;
  position: relative;
  top: 20px;
}

.col-50 >div> .Phone_No{
  min-width: 220px;
  top: 20px;
  left: 40px;
}


.row-1 > .Sub_help{
  min-width: 220px;
  width: 31.5vw;
  top: 60px;
}

.contact_heading{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 24px;
}

.submit_button{
  font-family:  'Open Sans', sans-serif;
  font-weight: 1000;
  position: absolute;
  right: 5%;
  bottom: 3.5%;
  border-radius: 20px;
  border: none;
  background-color: rgb(69, 66, 240);
  color: white;
  padding: 8px 28px;
  outline: none;
}

.submit_button:hover{
  background-color: rgb(9, 3, 46);
  box-shadow: 0 12px 16px 0 rgba(5, 0, 0, 0.24), 0 17px 50px 0 rgba(32, 32, 32, 0.19);
}

.socialmedia_icon{
  justify-content: space-around;
  display: flex;
  padding:  0px 20px 0px 25px;
}

.Fb_icon:hover{
  opacity: 0.7;
  background-color:rgb(173, 173, 173);
}

.Insta_icon :hover{
 opacity: 0.7;
 background-color:rgb(173, 173, 173);
}

.Twiter_icon :hover{
  opacity: 0.7;
  background-color:rgb(173, 173, 173);
}

.In_icon :hover{
 opacity: 0.7;
 background-color:rgb(173, 173, 173);
}

.Youtube_icon :hover{
  opacity: 0.7;
  background-color:rgb(173, 173, 173);
}

.phone-icon{
  font-size: 1.2rem;
  padding: 10px 50px 10px 25px;
  color: rgb(196, 202, 212); 
  }

.phone-icon>a{
    padding:10px 15px;
     position:absolute;
    color: white;
    text-decoration: none;
  }
  
.message-icon{
  font-size: 1.2rem;
   padding: 10px 50px 30px 25px;
   color: rgb(196, 202, 212);
  }  

.message-icon>a{
    padding:10px 15px;
    position:absolute;
   color: white;
   text-decoration: none;
  }
  @media(max-width:1024px){
    .col-50>div>.F_Name{
      margin-right: 0%;
      margin-bottom: 20px;
    }
    .col-50 >div> .Phone_No{
      left: 0%;
    }
    .row_main{
      flex-direction: column;
    }
    .row_main{
      min-height: 750px;
    }
    .column-1{
      min-height: 300px;
      border-radius: 10px;
    }
    .column-2{
      max-width: 639px;
      border-radius: 10px;
    }
  }


  @media(max-width:640px){
    .container{
      margin:0 auto;
    }
    .row_main{
      width: -webkit-fill-available;
      left: 0;
      margin: 0;
      top: 10vh;
    }
    .submit_button{
      bottom: 0.3rem;
    }
  }

  @media(max-width:420px){
    .col-50 >div> .Phone_No{
      margin-top: 20px;
    }
  }

  @media(max-width:300px){
    .container{
      display: contents;
    }
  }
