.feed_container{
  background-color: rgb(224, 222, 222);
  position: relative;
  top: 50px;
}
.feed_main{
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30vw;
  padding-bottom: 20px;
  width: 400px;
  background-color: white;
}

.feed_timestamp{
  color: #464141;
  font-size: 1rem;
  margin-top: 5px;
  
}

.header_feed{
    display: flex;
    padding: 5px;
}

.avatar{
  padding: 10px;
  display: flex;
}

.feed_username{
  position: relative;
  top: 0px;
  left: 10px;
  font-size: 1.5rem;
  width: max-content;
  
}

.feed_dots{
  margin-right: 10px;
  font-size:larger;
}

.feed_title{
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 1.4rem;
  font-family: 'Padauk', sans-serif;
  overflow-wrap: break-word;
  
}

.feed_image{
 padding: 15px;
}

.feed_description{
  height: auto;
  max-height: 80px;
  margin: 20px 20px 0px 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #e3e3e3;
  font-weight: 400;
  font-size: 1.4rem;
  font-family: 'Padauk', sans-serif;
  cursor: pointer;
  overflow-y: hidden;
  transition: max-height 0.5s ease;
  overflow-wrap: break-word;
}
.des_checkbox{
  display: none;
}
.des_checkbox:checked ~ .feed_description {
  transition: max-height 2s ease;
  max-height: 1000px;
  /* height: 200px; */

}
.feed_footer{
  display: flex;
  position: relative;
  width: 100%;
  
}
.like{
  position: absolute;
  top: 20%;
  left: 50%;
  cursor: pointer;
}
.like:hover{
  opacity: 0.7;
}
.comment{
  position: absolute;
  top: 20%;
  left: 70%;
  cursor: pointer;
}
.comment:hover{
  opacity: 0.7;
}
.footer_icon_name{
  color: gray;
  font-family: 'Padauk', sans-serif;
  font-weight: 520;
  margin: -10px;
}
.search_feed_container{
  height: 75vh !important;
  overflow-y: scroll;
  top: 14vh;
  margin-left: -25%;
  text-align: left;
}
.search_feed_class{
  margin-left: 10% !important;
}
.feed_loading{
  position: relative;
  left: 50%;
  margin-left: 13vw;
}
.main{
  width: 100% !important;
  position: absolute;
}
.main2{
  margin: 5% 5% 5% 0 !important;
  min-width: 10px;
  max-width: 100%;
}
@media(min-width:1024px){
  .search_feed_container{
    min-width: 400px;
  }
  .search_size{
    width: 350px;
  }
}
@media(max-width:640px){
  .feed_main{
    margin: 20px auto;
    max-width: 100%;
    border-radius: 0px;
  }
  .search_feed_container{
    margin-left: -10% !important;
    top: 0%;
    padding: 2rem;
  }
  .feed_loading{
    margin-left: 0vw;
  }
  .main2{
    margin: 5% auto !important;
  }
}
